@btn-prefix-cls: ~"@{css-prefix}btn";
.@{btn-prefix-cls} {
  display: inline-block;
  &-primary {
    background-color: @primary;
  }
  &success {
    background-color: @success;
  }
  &-danger {
    background-color: @danger;
  }
  &-warning {
    background-color: @warning;
  }
}
